hr {
height: 1px;
color: #cc0000;
border-color:#cc0000;
background-color: #cc0000;
border: none;
}
body{
  background-color:#ffffff;
  font-family: 'Arimo';
}
.container{
  width:1100px;
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
  background-color:#f3f3f3;
  border-radius:4px;
}
p{
  text-indent:22px;
}
.header{
  text-align:center;
}
