hr {
height: 1px;
color: #cc0000;
border-color:#cc0000;
background-color: #cc0000;
border: none;
}
body{
  background-color:#ffffff;
  font-family: 'Arimo';
}
.container{
  width:990px;
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
  background-color:#f3f3f3;
  border-radius:4px;
}
p{
  text-indent:22px;
}
.header{
  text-align:center;
}
.circle_1{
  border-radius:50%;
  height:80px;
  width:80px;
  background-color:#00fa12;
  display:inline-block;
  margin:-20px;
}
.circle_2{
  border-radius:50%;
  height:80px;
  width:80px;
  background-color:#d3d3d3;
  display:inline-block;
}
.circle_3{
  border-radius:50%;
  height:80px;
  width:80px;
  background-color:#cc0000;
  display:inline-block;
  margin:-20px;
}
